/* GLOBAL STYLE */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: black;
	font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.chart-title {
	background-color: #bc0303;
	font-weight: bold;
}

#landing-body,
#wip-body {
	background: black url("./images/flare.png") no-repeat fixed center;
	background-size: cover;
}

.wrapper {
	height: 100vh;
}

.navbar-brand {
	max-width: 20%;
	min-width: 250px;
}

#navbar-logo {
	width: 100%;
}

.navbar-nav .active {
	border-bottom: 1px solid #bc0303;
}

.nav-item a {
	border-bottom: 1px solid transparent;
}

.nav-item:hover a:hover {
	border-bottom: 1px solid #bc0303;
}

p {
	text-indent: 5rem;
	text-align: justify;
	text-justify: inter-word;
}

hr {
    border-color:#bc0303;
}

.prediction-hr{
    width: 100px;
}

/* WIP STYLE */

#wip {
	height: 100vh;
}

#wip-image {
	animation: wip-scale 2.5s ease-in-out;
}

@keyframes wip-scale {
	0% {
		transform: translate(0px, 100px);
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

/* LANDING PAGE STYLE */

#landing {
	animation: logo-scale 2.5s ease-in-out;
	height: 25%;
}

@keyframes logo-scale {
	0% {
		height: 0%;
		opacity: 0;
	}
	80% {
		opacity: 1;
	}
	100% {
		height: 25%;
	}
}

#landing-btn {
	display: block;
	position: absolute;
	bottom: 150px;
}

#get-started-btn {
	background-image: linear-gradient(180deg, #bc0303, #8e2525);
	animation: gt-btn-fade-in 2.5s ease-in-out;
	font-weight: bold;
	border-radius: 20px;
}

@keyframes gt-btn-fade-in {
	0% {
		height: 0%;
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@media screen and (max-width: 600px) {
	#landing {
		max-width: 100vw;
		height: 10%;
	}

	#landing-btn {
		bottom: 70px;
	}

    @keyframes logo-scale {
        0% {
            height: 0%;
            opacity: 0;
        }
        80% {
            opacity: 1;
        }
        100% {
            height: 10%;
        }
    }
}

/* INTRO STYLE */

.carousel-indicators {
	position: absolute;
	transform: translateY(50px);
}

.carousel-indicators li {
	width: 10px;
	height: 10px;
	border-radius: 100%;
}

/* YEAR STYLES */

.card {
	background-color: transparent;
	min-width: 200px;
}

.card img {
	min-width: 200px;
	border-radius: 10px;
}

.scrollable {
	width: 200vw;
	height: 450px;
    overflow: auto;
}

.scrollable::-webkit-scrollbar {
    height: 12px;
	width: 0px; /* width of the entire scrollbar */
}

.scrollable::-webkit-scrollbar-track {
	background: black; /* color of the tracking area */
}

.scrollable::-webkit-scrollbar-thumb {
	background-color: #bc0303; /* color of the scroll thumb */
	border-radius: 20px; /* roundness of the scroll thumb */
	border: 5px solid black; /* creates padding around scroll thumb */
}

/* CAST STYLES */

.vertical-cast {
	width: auto;
	height: 420px;
	overflow-y: scroll ;
	overflow-x: hidden ;
}

.vertical-cast::-webkit-scrollbar {
	width: 15px; /* width of the entire scrollbar */
}

.vertical-cast::-webkit-scrollbar-track {
	background: black; /* color of the tracking area */
}

.vertical-cast::-webkit-scrollbar-thumb {
	background-color: #bc0303; /* color of the scroll thumb */
	border-radius: 20px; /* roundness of the scroll thumb */
	border: 5px solid black; /* creates padding around scroll thumb */
}

.cards {
	margin-bottom: 10px;
}

.img-fluid {
	min-width: auto;
	border-radius: 10px;
}

/* SALES STYLES */

.table {
	width: auto;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid white;
}

.table td {
	padding: .2rem;
	font-size: 15px;
	padding-right: 23px;
	padding-left: 23px;
	border-top: none;
}

.table thead th {
	font-size: 20px;
	border-bottom: none;
}

.col-sm-8 {
	margin-left: auto;
	margin-right: auto;
	padding-right: 50px;
	padding-left: 50px;
}

/* PREDICTION STYLES */

p {
	color: rgba(255, 255, 255, 0.829);
	text-indent: 5rem;
	text-align: justify;
	margin-bottom: 0px;
}